.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho_logo {
    margin-bottom: 1rem;
}

.cabecalho_navegacao {
    text-align: center;
}

.cabecalho_link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem; 
    margin-bottom: 1.25rem; 
    /* o EM é o tamanho relativo a propriedade font-size da tag mãe (o "e" de "ephemerol", que quer dizer variável)*/
    /* Já o REM é o tamanho relativo a propriedade font-size da tag raiz do código, que é a de maior hierarquiva, portanto a própria tag HTML (o "r" de "'root' ephemerol", ou seja, variável em relação ao valor raiz)*/
    margin-left: .7rem;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}


